@mixin flexContainer($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin fontStyle($fontsize, $fontweight){
    font-size: $fontsize;
    font-weight: $fontweight;
}

@mixin border-radius-topleft-topright($radius) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-radius-topright-bottomright($radius) {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin box-shadow($offsetX, $offsetY, $blur, $spread, $color) {
    box-shadow: $offsetX $offsetY $blur $spread $color;
}