@import "./variables.scss";

@import "./mixins.scss";

// Partie Header
.header {

    &__arrow-left {
        @include flexContainer(column, center, center);
        position: absolute;
        top: 25px;
        left: 3vw;
        width: 30px;
        height: 30px;

        &-icon {
            @include fontStyle(25px, 900);
            color: $main-color;
        }
    }
}

// Soulignement partiel du titre des sections du menu
.partial-underline {
    text-decoration-color: $underline-menu-color ;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

// Affichage d'une ellipse qd le texte dépasse
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Formattage du bouton "Commander"
.explore__btn {
    margin-top: 30px;
    width: 186px;
}

// Animation fade-in sur le menu
.fadein1 {
    animation-name: fadein;
    animation-duration: 2s;
}

.fadein2 {
    animation-name: fadein;
    animation-duration: 4s;
}

.fadein3 {
    animation-name: fadein;
    animation-duration: 6s;
}

// Partie menu
.menu {
    @include flexContainer(column, center, center);

    &__img {
        object-fit: cover;
        height: 275px;
        width: 100%;
    }

    &__container {
        @include border-radius-topleft-topright(40px);
        background-color: $background-functioning-color;
        position: relative;
        top:-40px;
        padding: 15px;
        width: 100%;

        .restaurant__card-like {
            position: absolute;
            right: 30px;
            top: 50px;
        }
    }

    &__title-like {
        @include flexContainer(row, space-between, center);
    }

    &__title {
        @include fontStyle(28px, 400);
        font-family: $logo-font;
        text-align: left;
        margin-top: 30px;
        margin-right: 40px;
    }

    &__content {
        @include flexContainer(column, center, stretch);

        &-plats {
            @include flexContainer(column, center, stretch);
        }
    
        &-title {
            @include fontStyle(16px, 300);
            text-transform: uppercase;
        }

        &-plat {
            @include flexContainer(row, stretch, stretch);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0,0.1);
            padding: 15px;
            border-radius: 15px;
            width: 100%;
            margin: 10px 0;
            position: relative;
            overflow: hidden;

            &:hover .menu__content-select {
                transform: translateY(0);
            }

            &:hover .menu__content-details {
                width: calc(100% - 59px);
            }
        }
    
        &-details {
            @include flexContainer(column, center, stretch);
            cursor: pointer;
            width: 100%;
            transition: width 400ms ease-in-out;

            &-name {
                @include fontStyle(18px, 500);
                margin-bottom: 10px;
            }

            &-desc-price {
                @include flexContainer(row, space-between, center);
                gap: 10px;
            }

            &-desc {
                @include fontStyle(15px, 300);
            }

            &-price {
                @include fontStyle(15px, 700);
            }
        }

        &-select {
            @include flexContainer(column, center, center);
            position: absolute;
            right: 0;
            top: 0;
            width: 59px;
            height: 100%;
            color: $text-button-color;
            background-color: $underline-menu-color;
            @include border-radius-topright-bottomright(15px);
            transition: transform 400ms ease-in-out;
            transform: translateX(100%);

            i {
                font-size: 20px;
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Media queries

// Desktop
@media screen and (min-width: 1024px) {
    .menu {

        &__container {
            max-width: 1055px;
        }
    }
}