@import "./variables.scss";

@import "./mixins.scss";

* {
    font-family: $main-font;
    box-sizing: border-box;
}

body {
    @include flexContainer(column, stretch, stretch);
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    opacity: 0;
    animation: opacity 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

// Partie Loader
.cont-loader {
    position: absolute;
    left: calc(50% - 75px);
    top: 45%;
    opacity: 1;
    animation: opacity-reverse 3s 2s forwards;
    }

.loader {
    border: 16px solid $background-functioning-color;
    border-radius: 50%;
    border-top: 16px solid $button-color;
    border-bottom: 16px solid $button-color;
    width: 120px;
    height: 120px;
    animation: rotate 2s linear infinite;
}

.cont-loader::after {
    display: flex;
    content:"...loading...";
    justify-content: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  @keyframes opacity-reverse {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

// Partie Header
.header {

    &__logo {
        @include fontStyle(2em, 400);
        font-family: $logo-font;
        font-style: normal;
        text-align: center;
    }
}

// Partie Localisation
.location {
    @include flexContainer(row, center, center);
    gap: 17px;
    background-color: $background-location-color;
    padding: 10px;
    @include box-shadow(0px, -1px, 4px, 0px, rgba(0,0,0,0.25));

    &__icon {
        min-width: 12px;
        min-height: 16px;
    }

    &__input {
        border: none;
        background-color: $background-location-color;
        width: 112px;
        @include fontStyle(16px, 500);
    }
}

.container {
    margin: 0 25px;
    max-width: 1055px;
}

// Partie Explorez les restaurants
.explore {
    background-color: $background-functioning-color;
    padding: 30px 30px 60px 30px;
    @include box-shadow(0px, -1px, 4px, 0px, rgba(0,0,0,0.25));
    width: 100%;


    &__title {
        text-align: center;
        @include fontStyle(24px, 700);
    }

    &__text {
        text-align: center;
        @include fontStyle(18px, 300);
    }

    &__btn {
        @include flexContainer(row, center, center);
        margin: auto;
        @include fontStyle(16px, 500);
        color: $text-button-color;
        padding: 20px;
        height: 50px;
        background-color: $button-color;
        background-image: $background-btn-color;
        border: none;
        border-radius: 25px;
        transition : all 200ms;
        @include box-shadow(0px, 4px, 10px, 0px, rgba(0,0,0,0.25));

        &:hover {
            opacity: 0.7;
            @include box-shadow(0px, 4px, 10px, 5px, rgba(0,0,0,0.25));
        }
    }
}

// Partie Fonctionnement
.functioning {

    &__title {
        margin-top: 50px;
    }

    &__btns {
        @include flexContainer(column, center, stretch);
        gap: 20px;
    }

    &__btn {
        @include flexContainer(row, left, center);
        gap: 25px;
        height: 72px;
        padding-left: 30px;
        padding-right: 5px;
        background-color: $background-functioning-color;
        border-radius: 20px;
        border: none;
        @include box-shadow(0px, 4px, 15px, 0px, rgba(0, 0, 0, 00.15));
        position: relative;

        &:hover {
            cursor: pointer;
            transition : all 200ms;
            opacity: 0.7;
            @include box-shadow(0px, 4px, 15px, 5px, rgba(0,0,0,0.15));

            .functioning__icon {
                color: $button-color;
            }
        }
    }

    &__icon {
        color : $icon-color;
        @include fontStyle(20px, 700);
    }

    &__text {
        @include fontStyle(16px, 500);
    }

    &__figure {
        @include flexContainer(row, center, center);
        background-color: $button-color;
        width: 24px;
        height: 24px;
        border-radius: 50px;
        color: $text-button-color;
        position: absolute;
        left: -13px;

    }
}

// Partie Restaurants
.restaurants {
    margin: 60px 0;

    &__cards {
        @include flexContainer(column, space-between, stretch);
        gap: 20px;
    }
    
}
.restaurant {
    text-decoration: none;
    color: $main-color;
    transition : box-shadow 200ms;

    &:hover {
        @include box-shadow(0px, 4px, 15px, 5px, rgba(0,0,0,0.15));
    }

    &__card {
        position: relative;
    }

    &__card-img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        @include border-radius-topleft-topright(15px);
    }

    &__card-content {
        position: relative;
        padding-left: 20px
    }

    &__card-title-like {
        @include flexContainer(row, space-between, center);
    }

    &__card-title {
        @include fontStyle(18px, 700);
        margin-bottom: 0;
        margin-right: 50px;
    }

    &__card-subtitle {
        @include fontStyle(17px, 300);
        margin-top: 5px;
    }

    &__card-like {
        position: absolute;
        @include fontStyle(25px, 100);
        top: 15px;
        right: 25px;

        .fa-solid {
            display: none;
            opacity: 0;
            
        }

        &:hover {
            .fa-regular {
                display: none;
                animation: opacity-reverse 1.5s;
            }

            .fa-solid {
                display: inline;
                animation: opacity 1.5s;
                background-image: $background-like-color;
                background-clip:text;
                color: transparent;
                -webkit-background-clip:text;
                -moz-background-clip: text;
            }
            
        }
    }

    &__card-nouveau {
        position: absolute;
        color: $badge-color;
        background-color: $underline-menu-color;
        @include fontStyle(14px, 500);
        padding: 10px;
        border-radius: 2px;
        @include box-shadow(0px, 2px, 4px, 0px, rgba(0, 0, 0, 0.15));
        top: 10px;
        right: 10px;
    }
}

@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

// Partie Footer
.footer {
    background-color: $location-color;
    color: $text-button-color;
    padding: 25px;

    &__title {
        font-family: $logo-font;
        font-style: normal;
        text-align: center;
        @include fontStyle(18px, 400);
        text-align: left;
    }

    &__link {
        text-decoration: none;
        color: $text-button-color;

        &-item {
            @include flexContainer(row, left, center);
            gap: 10px;
        }
    }

    &__text {
        margin: 5px 0;
    }
}

//Media queries

// Tablette
@media screen and (min-width: 768px) {
    .functioning {

        &__btns {
            @include flexContainer(row, space-between, center);
        }

        &__btn {
            width: 30%;
        }
    }

    .restaurant {
        &__card-img {
            height: 350px;
        }
    }

    .footer {
        @include flexContainer(row-reverse, right, center);
        gap: 75px;

        &__items {
            @include flexContainer(row, right, center);
            gap: 20px;
        }
    }
}

// Desktop
@media screen and (min-width: 1024px) {
    .main {

        &__container {
        @include flexContainer(column, center, center);
        }
    }

    .restaurants {

        &__cards {
            @include flexContainer(row, space-between, center);
            flex-wrap: wrap;
            gap: 75px;
        }
    }

    .restaurant {
            width: 45%;

            &__card-img {
                height: 250px;
            }
    }
}



