// Colors
$header-color : #101010;
$location-color : #353535;
$main-color : #000000;
$text-button-color : #FFFFFF;
$button-color : #9356DC;
$badge-color : #008766;
$like-empty-color : #101010;
$button-linear-color : #FF79DA;
$underline-menu-color : #99E2D0;
$background-location-color : #EAEAEA;
$background-functioning-color : #F6F6F6;
$icon-color : #7E7E7E;
$background-btn-color: linear-gradient($button-linear-color, $button-color);
$background-like-color: linear-gradient($button-color, $button-linear-color);
// Fonts
$logo-font : Shrikhand, serif;
$main-font : Roboto, sans-serif;