.header__arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 25px;
  left: 3vw;
  width: 30px;
  height: 30px;
}
.header__arrow-left-icon {
  font-size: 25px;
  font-weight: 900;
  color: #000000;
}

.partial-underline {
  text-decoration-color: #99E2D0;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.explore__btn {
  margin-top: 30px;
  width: 186px;
}

.fadein1 {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.fadein2 {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.fadein3 {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
}
.menu__container {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #F6F6F6;
  position: relative;
  top: -40px;
  padding: 15px;
  width: 100%;
}
.menu__container .restaurant__card-like {
  position: absolute;
  right: 30px;
  top: 50px;
}
.menu__title-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__title {
  font-size: 28px;
  font-weight: 400;
  font-family: Shrikhand, serif;
  text-align: left;
  margin-top: 30px;
  margin-right: 40px;
}
.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.menu__content-plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
.menu__content-title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.menu__content-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.menu__content-plat:hover .menu__content-select {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.menu__content-plat:hover .menu__content-details {
  width: calc(100% - 59px);
}
.menu__content-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  cursor: pointer;
  width: 100%;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}
.menu__content-details-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.menu__content-details-desc-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.menu__content-details-desc {
  font-size: 15px;
  font-weight: 300;
}
.menu__content-details-price {
  font-size: 15px;
  font-weight: 700;
}
.menu__content-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 59px;
  height: 100%;
  color: #FFFFFF;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.menu__content-select i {
  font-size: 20px;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .menu__container {
    max-width: 1055px;
  }
}/*# sourceMappingURL=restaurant.css.map */